@import "tailwindcss";

:root {
  --background: #ffffff;
}
@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
